@import url(//weloveiconfonts.com/api/?family=zocial);

/* zocial */
[class*="zocial-"]:before {
  font-family: 'zocial', sans-serif;
}

body {
  background-size: cover;
  background-color: white;
	padding:5px;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

.header {
  text-align: center;
  color: Red;
}

/* Title strip color */
.tbanner {
  border-spacing: 0px;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  background: url("images/tbanner") width="100%";
  background-size: contain;
  margin-top: 0px;
  height: 91px !important; border:none;
}

.bbanner {
  border-spacing: 0px;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  background: url("images/bbanner") width="100%";
  background-size: contain;
  margin: 0 auto;
  height: 91px !important; border:none;
  image-orientation: center;
}



.banner {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: black
}

.sidenavi {
  width: 0px;
	float: left;
  text-align: left;
		  }


.follows {
  list-style-type: none;
}

.foot {
  float: right;
}

.mainpic {
  height: 225px;
  width: 225px;
}

.logo {
  height: 100px;
  width: 100px
}

.intro {
  color: black;
  font-family:"Times New Roman", Times, serif;
  font-family: 'Encode Sans Condensed', sans-serif;
  font-size:16px;
  text-align: center;
}

.goals{
    color: black;
    font-family:"Times New Roman", Times, serif;
    font-family: 'Encode Sans Condensed', sans-serif;
    font-size:16px;
    text-align: center;
}

.background {
  color: black;
  font-family:"Times New Roman", Times, serif;
  font-family: 'Encode Sans Condensed', sans-serif;
  font-size:16px;
  text-align: center;

}

.skills {
  color: black;
  font-family:"Times New Roman", Times, serif;
  font-family: 'Encode Sans Condensed', sans-serif;
  font-size:16px;
  text-align: center;
}

.contactme {
  color: black;
  font-family:"Times New Roman", Times, serif;
  font-family: 'Encode Sans Condensed', sans-serif;
  font-size:16px;
  text-align: center;
}

.end {
  color: black;
  font-family:"Times New Roman", Times, serif;
  font-family: 'Encode Sans Condensed', sans-serif;
  font-size:16px;
}

.foot {
  color: black;
  float: right;
  font-family:"Times New Roman", Times, serif;
  font-family: 'Encode Sans Condensed', sans-serif;
  font-size:12px;
}

.hbackground {
  color: orange;
}

.hgoals {
  color: orange;
}

.hskills {
  color: orange;
}

.hcontactme {
  color: orange;
}
